<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
      
        
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle>App settings</ion-card-subtitle>
            </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label fixed>Minimum calories</ion-label>
                <ion-input type="number"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label fixed>Maximum calories</ion-label>
                  <ion-input type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Meal reminder</ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                  </ion-item>
            <ion-item>
              <ion-label>Notifications</ion-label>
              <ion-toggle color="danger"></ion-toggle>
            </ion-item>

            <ion-button expand="block" (click)="logout()">Log out</ion-button>
            </ion-card-content>
          </ion-card>
      </ion-content>
