<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="category">
        <ion-segment-button value="nutrition">
            Nutrition
        </ion-segment-button>
        <ion-segment-button value="clothing">
            Food
        </ion-segment-button>
        <ion-segment-button value="sport">
            Sport
        </ion-segment-button>
      <ion-segment-button value="other">
        Other
    </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen parallax-header>
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addPost()">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
<div class="header-image"></div>
<div class="main-content">
<app-post-list></app-post-list>
  </div>

</ion-content>

