<ion-header>
    <ion-toolbar>
      <ion-title>Add a new post</ion-title>
      <ion-button size="small" (click)="closeModal()" style="float: right;">Close</ion-button>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen parallax-header>
        <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
          <ion-button size="small">
              <ion-icon slot="start" name="camera"></ion-icon>
            </ion-button>
          <ion-button expand="block" (click)="closeModal()">Post</ion-button>
  </ion-content>
  
  