<ion-card>
    <ion-item>
        <ion-icon name="man" slot="start"></ion-icon>
        <ion-label>Surdu Marian</ion-label>
        <ion-button fill="outline" slot="end" (click)="displayEditModal()">Edit</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Bucuresti</ion-label>
        
      </ion-item>
      <ion-card-content>
          <ion-chip>
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>Full stack Developer</ion-label>
              
            </ion-chip>
            <ion-chip>
                <ion-avatar>
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>Blue Air</ion-label>
                
              </ion-chip>
      </ion-card-content>
    </ion-card>

