<ion-card >
  <ion-item>
    <ion-label >{{category}}</ion-label>
    <ion-button color="primary" (click)="toogle=!toogle">Add</ion-button>
  </ion-item>
  <ion-card-content *ngIf="toogle">
<ion-item>
  <ion-label>Date</ion-label>
  <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="Enter food name"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="number" placeholder="Enter quantity"></ion-input>
</ion-item>
<ion-button color="primary">Save</ion-button>
  </ion-card-content>
</ion-card>