<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meals</ion-title>
     <ion-buttons slot="end">
       <ion-button size="small" shape="round" color="medium" (click)="addMeal()">
         <ion-icon name="add"></ion-icon>
       </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-meal></app-meal>
  <app-meal></app-meal>
  <app-meal></app-meal>
  <app-meal></app-meal>
</ion-content>