<ion-card >
   
    <ion-item>
        <ion-avatar slot="start">
        <img src="https://motoring.pxcrush.net/motoring/general/editorial/scala_34front_left.jpg?width=1024" />
        </ion-avatar>
        <ion-label>Marian Surdu</ion-label>
      </ion-item>
    <img src="https://motoring.pxcrush.net/motoring/general/editorial/scala_34front_left.jpg?width=1024" />
    <ion-card-content>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-icon name="thumbs-up"></ion-icon> 
        <span class="labelSocial">Like</span>
      </ion-col>
      <ion-col>
        <ion-icon name="text"></ion-icon>
        <span class="labelSocial">Comment</span>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>